/* Container for Event Cards */
.event-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px; /* You can adjust this value as needed */
  margin: 0 auto;
}

/* Event Card Styles */
.event-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  margin: 20px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Price Section */
.price {
  font-size: 18px;
  font-weight: 600;
  color: #e74c3c;
  margin-bottom: 10px;
}

.price:before {
  content: "Price: ";
}

/* Event Title */
.event-title {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  margin: 10px 0;
  text-transform: capitalize;
}

/* Event Description */
.event-description {
  margin: 10px 0;
  font-size: 16px;
  color: #7f8c8d;
}

.event-description p {
  margin: 0;
}

.event-description div {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.event-description div p {
  margin-right: 5px;
  font-weight: 500;
}

.event-description div svg {
  transition: transform 0.3s ease;
}

.event-description div svg.open {
  transform: rotate(180deg);
}

.event-description p {
  font-size: 14px;
}

/* Event Location */
.event-location {
  font-size: 14px;
  color: #34495e;
  margin: 15px 0;
}

.event-location p {
  margin: 5px 0;
}

/* Event Dates & Time */
.event-dates-time {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.event-dates-time p {
  margin: 5px 0;
}

/* Event URL */
.event-url a {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.event-url a:hover {
  background-color: #2980b9;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .event-card-container {
    grid-template-columns: 1fr 1fr;
  }

  .event-card {
    max-width: 100%;
    padding: 15px;
  }

  .event-title {
    font-size: 20px;
  }

  .price {
    font-size: 16px;
  }

  .event-description p,
  .event-location p,
  .event-dates-time p {
    font-size: 12px;
  }

  .event-url a {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .event-card-container {
    grid-template-columns: 1fr;
  }
}
